# ClusterIssuer Configuration
# This file defines the Cert-Manager ClusterIssuer for obtaining SSL certificates from Let's Encrypt.
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Let's Encrypt ACME server URL
    server: https://acme-v02.api.letsencrypt.org/directory
    # Email address for registration and recovery contact
    email: nikhilpantam79@gmail.com
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: nginx
